{% extends "layouts/base.html" %}

{% block title %} home {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}


{% if is_show %}

<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="//cdn.amcharts.com/lib/4/core.js"></script>
<script src="//cdn.amcharts.com/lib/4/charts.js"></script>
<script src="//cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="//cdn.amcharts.com/lib/4/plugins/forceDirected.js"></script>

<script src="//cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/assets/js/pages/ksw_charts.js"></script>



<script>
    // 로딩창 키는 함수
    function openLoading() {
        //화면 높이와 너비를 구합니다.
        let maskHeight = $(document).height();
        let maskWidth = window.document.body.clientWidth;
        //출력할 마스크를 설정해준다.

        let mask = "<div id='mask' style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0;'></div>";
        // 로딩 이미지 주소 및 옵션
        let loadingImg = '';

        //loadingImg += "<div id='loadingImg' style='position:absolute; top: calc(50% - (600px / 2)); width:100%; z-index:99999999;'>";
        //loadingImg += " <img src='https://loadingapng.com/animation.php?image=4&fore_color=000000&back_color=FFFFFF&size=128x128&transparency=1&image_type=0&uncacher=75.5975991029623' style='position: relative; display: block; margin: 0px auto;'/>";
        //loadingImg += "</div>"; 

        loadingImg += "<div class='spinner-border text-light' id='loadingImg' role='status' style='position:absolute; top: calc(46% - (600px / 2)); left: calc(46%); z-index:99999999;'>";
        loadingImg += " <span class='sr-only'>Loading...</span>";
        loadingImg += "</div>";
        //레이어 추가

        $('body')
            .append(mask)
            .append(loadingImg)
        //마스크의 높이와 너비로 전체 화면을 채운다.
        $('#mask').css({
            'width': maskWidth,
            'height': maskHeight,
            'opacity': '0.3'
        });
        //마스크 표시
        $('#mask').show();
        //로딩 이미지 표시
        $('#loadingImg').show();
    }

    // 로딩창 끄는 함수
    function closeLoading() {
        $('#mask, #loadingImg').hide();
        $('#mask, #loadingImg').empty();
    }

    var positve_bar = {{ positve_bar| safe }};
    var negative_bar = {{ negative_bar| safe }};

    openLoading();

</script>


<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ Main Content ] start -->
        <div class="row row-direction">
            <!-- users visite start -->

            <!--left container-->
            <div class="col-md-12 col-xl-8 left-column-rate">

                <div class="card text-center">

                    <div class=" p-3 ">

                        <div class='top-search-bar top-search-option-box mt-3' style='justify-content: center'>
                            <ul class="sns-switch-list" id="channelCheckBoxUl">

                                <li class="switch-item type2 label-left fill-green">
                                    <label for="btn-check-cafe" class="switch">
                                        <span class="switch-text">카페</span>
                                        <input type="checkbox" class="sourceCheckbox" id="btn-check-cafe"
                                            onclick='category("cafe")' checked>
                                        <span class="slider"></span>
                                    </label>
                                </li>

                                <li class="switch-item type2 label-left fill-green"
                                    style="margin-right:15px;margin-left: 15px;">
                                    <label for="btn-check-blog" class="switch">
                                        <span class="switch-text">블로그</span>
                                        <input type="checkbox" class="sourceCheckbox" id="btn-check-blog"
                                            onclick='category("blog")' checked>
                                        <span class="slider"></span>
                                    </label>
                                </li>

                                <li class="switch-item type2 label-left fill-green">
                                    <label for="btn-check-news" class="switch">
                                        <span class="switch-text">뉴스</span>
                                        <input type="checkbox" class="sourceCheckbox" id="btn-check-news"
                                            onclick='category("news")' checked>
                                        <span class="slider"></span>
                                    </label>
                                </li>


                            </ul>
                        </div>


                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-xl-6 pe-1">
                            <div class="mycard w-95 ms-auto">

                                <h5>갤럭시</h5><br>

                                <div class="justify-content-center">

                                    <ul class="tab-type5 tab comepare-origin-tabs w-75" id="originalDocsKeywordUl"
                                        style='display: table;margin-left: auto;margin-right: auto;'>
                                        <li class="on" id='1_pos'>
                                            <a href="javascript:void(0)" class="" style="" onclick='changeClassName(1)'>
                                                <em class="tab-name">긍정</em>
                                            </a>
                                        </li>
                                        <li class="" id='1_neg'>
                                            <a href="javascript:void(0)" class="" style="" onclick='changeClassName(1)'>
                                                <em class="tab-name">부정</em>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="original-data" id="1_pos_post">
                                    <div class="hidden-scroll yscroll-overlay">
                                        <ul class="hidden-scroll-content yscroll-overlay-body original-data-list mention-original-list"
                                            id="originalDocsUl" data-id="original-data-list-compare-reputation"
                                            style="opacity: 1; ">

                                            {% for item in keyword1_positive %}
                                            <li class="original-data-item" style="cursor:pointer;" id={{item.cate}}
                                                onclick="window.open('{{item.link}}')">
                                                {%if item.cate == 'blog'%}
                                                <span class="icon-channel"><img
                                                        src="https://some.co.kr/renewal_resources/images/icon_sns_blog.svg"
                                                        alt=""></span>
                                                {%elif item.cate == 'news'%}
                                                <span class="icon-channel"><img
                                                        src="https://some.co.kr/renewal_resources/images/icon_sns_news.svg"
                                                        alt=""></span>
                                                {%elif item.cate == 'cafe'%}
                                                <span class="icon-channel"><img
                                                        src="https://ca-fe.pstatic.net/web-section/favicon.ico"
                                                        alt=""></span>
                                                {% endif %}
                                                <dl class="mention-desc">
                                                    <dt class="mention-desc-title">{{item.title}}</dt>
                                                    <dd class="mention-desc-text">{{item.text}}</dd>
                                                </dl>

                                            </li>

                                            {% endfor %}

                                        </ul>
                                    </div>
                                </div>

                                <div class="original-data" id="1_neg_post" style='display:none;'>
                                    <div class="hidden-scroll yscroll-overlay">
                                        <ul class="hidden-scroll-content yscroll-overlay-body original-data-list mention-original-list"
                                            id="originalDocsUl" data-id="original-data-list-compare-reputation"
                                            style="opacity: 1;">

                                            {% for item in keyword1_negative %}
                                            <li class="original-data-item" style="cursor:pointer;" id={{item.cate}}
                                                onclick="window.open('{{item.link}}')">
                                                {%if item.cate == 'blog'%}
                                                <span class="icon-channel"><img
                                                        src="https://some.co.kr/renewal_resources/images/icon_sns_blog.svg"
                                                        alt=""></span>
                                                {%elif item.cate == 'news'%}
                                                <span class="icon-channel"><img
                                                        src="https://some.co.kr/renewal_resources/images/icon_sns_news.svg"
                                                        alt=""></span>
                                                {%elif item.cate == 'cafe'%}
                                                <span class="icon-channel"><img
                                                        src="https://ca-fe.pstatic.net/web-section/favicon.ico"
                                                        alt=""></span>
                                                {% endif %}
                                                <dl class="mention-desc">
                                                    <dt class="mention-desc-title">{{item.title}}</dt>
                                                    <dd class="mention-desc-text">{{item.text}}</dd>
                                                </dl>

                                            </li>

                                            {% endfor %}

                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-xl-6 ps-1">
                            <div class="mycard w-95">

                                <h5>아이폰</h5><br>

                                <div class="align-items-center">

                                    <ul class="tab-type5 tab comepare-origin-tabs w-75" id="originalDocsKeywordUl"
                                        style='display: table;margin-left: auto;margin-right: auto;'>
                                        <li class="on " id='2_pos'>
                                            <a href="javascript:void(0)" class="" style="" onclick='changeClassName(2)'>
                                                <em class="tab-name">긍정</em>
                                            </a>
                                        </li>
                                        <li class=" " id='2_neg'>
                                            <a href="javascript:void(0)" class="" style="" onclick='changeClassName(2)'>
                                                <em class="tab-name">부정</em>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="original-data" id="2_pos_post">
                                    <div class="hidden-scroll yscroll-overlay">
                                        <ul class="hidden-scroll-content yscroll-overlay-body original-data-list mention-original-list"
                                            id="originalDocsUl" data-id="original-data-list-compare-reputation"
                                            style="opacity: 1;">

                                            {% for item in keyword2_positive %}
                                            <li class="original-data-item" style="cursor:pointer;" id={{item.cate}}
                                                onclick="window.open('{{item.link}}')">
                                                {%if item.cate == 'blog'%}
                                                <span class="icon-channel"><img
                                                        src="https://some.co.kr/renewal_resources/images/icon_sns_blog.svg"
                                                        alt=""></span>
                                                {%elif item.cate == 'news'%}
                                                <span class="icon-channel"><img
                                                        src="https://some.co.kr/renewal_resources/images/icon_sns_news.svg"
                                                        alt=""></span>
                                                {%elif item.cate == 'cafe'%}
                                                <span class="icon-channel"><img
                                                        src="https://ca-fe.pstatic.net/web-section/favicon.ico"
                                                        alt=""></span>
                                                {% endif %}
                                                <dl class="mention-desc">
                                                    <dt class="mention-desc-title">{{item.title}}</dt>
                                                    <dd class="mention-desc-text">{{item.text}}</dd>
                                                </dl>

                                            </li>

                                            {% endfor %}


                                        </ul>
                                    </div>
                                </div>

                                <div class="original-data" id="2_neg_post" style='display:none;' id='blog'>
                                    <div class="hidden-scroll yscroll-overlay">
                                        <ul class="hidden-scroll-content yscroll-overlay-body original-data-list mention-original-list"
                                            id="originalDocsUl" data-id="original-data-list-compare-reputation"
                                            style="opacity: 1;">

                                            {% for item in keyword2_negative %}
                                            <li class="original-data-item" style="cursor:pointer;" id={{item.cate}}
                                                onclick="window.open('{{item.link}}')">
                                                {%if item.cate == 'blog'%}
                                                <span class="icon-channel"><img
                                                        src="https://some.co.kr/renewal_resources/images/icon_sns_blog.svg"
                                                        alt=""></span>
                                                {%elif item.cate == 'news'%}
                                                <span class="icon-channel"><img
                                                        src="https://some.co.kr/renewal_resources/images/icon_sns_news.svg"
                                                        alt=""></span>
                                                {%elif item.cate == 'cafe'%}
                                                <span class="icon-channel"><img
                                                        src="https://ca-fe.pstatic.net/web-section/favicon.ico"
                                                        alt=""></span>
                                                {% endif %}
                                                <dl class="mention-desc">
                                                    <dt class="mention-desc-title">{{item.title}}</dt>
                                                    <dd class="mention-desc-text">{{item.text}}</dd>
                                                </dl>

                                            </li>


                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-fix-height">
                    <div class="col-md-6 col-xl-4 card-wc-35">
                        <div class="card">
                            <div class="card-header">
                                <h5>4~5점</h5>
                            </div>
                            <div class="card-body">
                                <svg id="my_dataviz" class="wordcloud-size"></svg>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-4 row-fix-height card-wc-35">
                        <div class="card">
                            <div class="card-header">
                                <h5>1~3 점</h5>
                            </div>
                            <div class="card-body">
                                <svg id="my_dataviz_2" class="wordcloud-size"></svg>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 card-pc-30">

                        <div class="card">
                            <div class="card-body bg-patern-white">

                                <div id="pie-chart-1"></div>

                            </div>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-6 col-xl-4 card-wc-35">
                        <div class="card">
                            <div class="card-header">
                                <h5>4~5 점</h5>
                            </div>
                            <div class="card-body">
                                <svg id="my_dataviz_3" class="wordcloud-size"></svg>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-4 row-fix-height card-wc-35">
                        <div class="card">
                            <div class="card-header">
                                <h5>1~3 점</h5>
                            </div>
                            <div class="card-body">
                                <svg id="my_dataviz_4" class="wordcloud-size"></svg>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 card-pc-30">

                        <div class="card">
                            <div class="card-body bg-patern-white">

                                <div id="pie-chart-2"></div>

                            </div>
                        </div>
                    </div>


                </div>




            </div>

            <!--right container-->
            <div class="col-md-12 col-xl-4 right-column-rate">
                
                    

                        <div class="card text-center display-mod">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="mycard">
                                            <h5>투표수</h5><br>

                                            <div id="chartdiv" style='height : 200px'></div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="card p-4 card-50">
                            <canvas id="myChart"></canvas>
                        </div>

                        <div class="card card-50">
                            <div class="card-body ps-0 pb-0">
                                <div id="unique-visitor-chart"></div>
                            </div>
                        </div>

                    
                    <!-- [ Main Content ] end -->
               
            </div>
            <!-- [ Main Content ] end -->
            {% else%}
            <div class="layout-contents">
                <div role="main">
                    <h2 class="blind">본문</h2>

                    <section class="layout-section section-incoming">
                        <h3 class="blind">초기 인입시 안내</h3>
                        <div class="incoming-info">
                            <div class="incoming-info-img">
                                <img src="/static/assets/images/myicon/free-sticker-marketing-4522540.png" alt="">
                            </div>
                            <div class="incoming-info-txt">
                                <div class="incoming-greeting">

                                    <p class="incoming-greeting-title">상품을 비교해 볼까요?</p>
                                    <p class="incoming-greeting-desc">두 상품을 비교하여 더 합리적인 소비를 해보세요!</p>

                                </div>

                            </div>
                        </div>
                    </section>

                </div>
            </div>
            {% endif %}

            {% endblock content %}

            <!-- Specific Page JS goes HERE  -->
            {% block javascripts %}
            {% comment %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> {% endcomment %}
            <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
            <script type="text/javascript">

                var keyword1_pie = {{ keyword1_pie| safe }};
                var keyword2_pie = {{ keyword1_pie| safe }};

                var keyword1_wordcloud_13 = {{ keyword1_wordcloud_13_json| safe }};
                var keyword2_wordcloud_13 = {{ keyword2_wordcloud_13_json| safe }};
                var keyword1_wordcloud_45 = {{ keyword1_wordcloud_45_json| safe }};
                var keyword2_wordcloud_45 = {{ keyword2_wordcloud_45_json| safe }};

                var keyword1_serise = {{ keyword1_serise| safe}}
                var keyword2_serise = {{ keyword2_serise| safe}}
                var serise_xaxis = {{ serise_xaxis| safe}}



        //var count_value={{count_value|safe}};
            </script>
            <!-- Apex Chart -->
            <script src="/static/assets/js/plugins/apexcharts.min.js"></script>

            <!-- custom-chart js -->
            <script src="/static/assets/js/pages/chart-apex.js"></script>
            <script src="/static/assets/js/pages/dashboard-main.js"></script>
            <script type="text/javascript">
                closeLoading()
            </script>

            {% endblock javascripts %}