{% extends "layouts/base.html" %}

{% block title %} home {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.js"></script>

<script src="//cdn.amcharts.com/lib/4/core.js"></script>
<script src="//cdn.amcharts.com/lib/4/charts.js"></script>
<script src="//cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="//cdn.amcharts.com/lib/4/plugins/forceDirected.js"></script>

<script src="//cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/assets/js/pages/ksw_charts.js"></script>
    <script>
        var positve_bar = {{ positve_bar|safe }};
        var negative_bar = {{ negative_bar|safe }};
    </script>

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ Main Content ] start -->

            <div class="row">
                <!-- users visite start -->

                <div class="col-md-12 col-xl-8">

                    <div class="card text-center">
                        <div class=" p-3 ">                            

                            <div class='top-search-bar top-search-option-box mt-3' style='justify-content: center'>
                                <ul class="sns-switch-list" id="channelCheckBoxUl" >

                                    <li class="switch-item type2 label-left fill-green">
                                        <label for="btn-check-cafe" class="switch">
                                            <span class="switch-text">카페</span>
                                            <input type="checkbox" class="sourceCheckbox" id="btn-check-cafe" onclick='category("cafe")' checked>
                                            <span class="slider"></span>
                                        </label>
                                    </li>
        
                                    <li class="switch-item type2 label-left fill-green" style="margin-right:15px;margin-left: 15px;">
                                        <label for="btn-check-blog" class="switch">
                                            <span class="switch-text">블로그</span>
                                            <input type="checkbox" class="sourceCheckbox" id="btn-check-blog" onclick='category("blog")' checked>
                                            <span class="slider"></span>
                                        </label>
                                    </li>

                                    <li class="switch-item type2 label-left fill-green">
                                        <label for="btn-check-news" class="switch">
                                            <span class="switch-text">뉴스</span>
                                            <input type="checkbox" class="sourceCheckbox" id="btn-check-news" onclick='category("news")' checked>
                                            <span class="slider"></span>
                                        </label>
                                    </li>
        

                                </ul>
                            </div>
                            

                        </div>
                        
                        <hr>
                    
                        <div class="row">
                            <div class="col-xl-6 pe-1">
                                <div class="mycard w-95 ms-auto">

                                    <h5>갤럭시</h5><br>
                                    
                                    <div class="justify-content-center">
                                    
                                        <ul class="tab-type5 tab comepare-origin-tabs w-75" id="originalDocsKeywordUl" style='display: table;margin-left: auto;margin-right: auto;'>
                                            <li class="on" id ='1_pos'>
                                                <a href="javascript:void(0)" class="" style="" onclick='changeClassName(1)'>
                                                    <em class="tab-name">긍정</em>
                                                </a>
                                            </li>
                                            <li class="" id ='1_neg'>
                                                <a href="javascript:void(0)" class="" style="" onclick='changeClassName(1)'>
                                                    <em class="tab-name">부정</em>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="original-data" id = "1_pos_post"> 
                                        <div class="hidden-scroll yscroll-overlay">
                                            <ul class="hidden-scroll-content yscroll-overlay-body original-data-list mention-original-list" id="originalDocsUl" data-id="original-data-list-compare-reputation" style="opacity: 1; ">
                                                
                                                {% for item in keyword1_positive %}
                                                    <li class="original-data-item" style="cursor:pointer;" id = {{item.cate}} onclick="window.open('{{item.link}}')">
                                                        {%if item.cate == 'blog'%}
                                                        <span class="icon-channel"><img src="https://some.co.kr/renewal_resources/images/icon_sns_blog.svg" alt=""></span>
                                                        {%elif item.cate == 'news'%}
                                                        <span class="icon-channel"><img src="https://some.co.kr/renewal_resources/images/icon_sns_news.svg" alt=""></span>
                                                        {%elif item.cate == 'cafe'%}
                                                        <span class="icon-channel"><img src="https://ca-fe.pstatic.net/web-section/favicon.ico" alt=""></span>
                                                        {% endif %}
                                                        <dl class="mention-desc">
                                                            <dt class="mention-desc-title">{{item.title}}</dt>
                                                            <dd class="mention-desc-text">{{item.text}}</dd>
                                                        </dl>
                                                        
                                                    </li>

                                                {% endfor %}
                                            
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="original-data" id = "1_neg_post" style='display:none;'>
                                        <div class="hidden-scroll yscroll-overlay">
                                            <ul class="hidden-scroll-content yscroll-overlay-body original-data-list mention-original-list" id="originalDocsUl" data-id="original-data-list-compare-reputation" style="opacity: 1;">
                                                
                                                {% for item in keyword1_negative %}
                                                <li class="original-data-item" style="cursor:pointer;" id = {{item.cate}} onclick="window.open('{{item.link}}')">
                                                    {%if item.cate == 'blog'%}
                                                    <span class="icon-channel"><img src="https://some.co.kr/renewal_resources/images/icon_sns_blog.svg" alt=""></span>
                                                    {%elif item.cate == 'news'%}
                                                    <span class="icon-channel"><img src="https://some.co.kr/renewal_resources/images/icon_sns_news.svg" alt=""></span>
                                                    {%elif item.cate == 'cafe'%}
                                                    <span class="icon-channel"><img src="https://ca-fe.pstatic.net/web-section/favicon.ico" alt=""></span>
                                                    {% endif %}
                                                    <dl class="mention-desc">
                                                        <dt class="mention-desc-title">{{item.title}}</dt>
                                                        <dd class="mention-desc-text">{{item.text}}</dd>
                                                    </dl>
                                                    
                                                </li>

                                                {% endfor %}

                                            </ul>
                                        </div>
                                    </div>
                                   
                                </div> 
                            </div>

                            <div class="col-xl-6 ps-1">
                                <div class="mycard w-95">

                                    <h5>아이폰</h5><br>

                                    <div class="align-items-center">
                                    
                                        <ul class="tab-type5 tab comepare-origin-tabs w-75" id="originalDocsKeywordUl" style='display: table;margin-left: auto;margin-right: auto;'>
                                            <li class="on " id ='2_pos'>
                                            <a href="javascript:void(0)" class="" style="" onclick='changeClassName(2)'>
                                                <em class="tab-name">긍정</em>
                                            </a>
                                        </li><li class=" " id ='2_neg'>
                                            <a href="javascript:void(0)" class="" style="" onclick='changeClassName(2)'>
                                                <em class="tab-name">부정</em>
                                            </a>
                                        </li></ul>
                                    </div>

                                    <div class="original-data" id = "2_pos_post">
                                        <div class="hidden-scroll yscroll-overlay">
                                            <ul class="hidden-scroll-content yscroll-overlay-body original-data-list mention-original-list" id="originalDocsUl" data-id="original-data-list-compare-reputation" style="opacity: 1;">
                                                
                                                {% for item in keyword2_positive %}
                                                <li class="original-data-item" style="cursor:pointer;" id = {{item.cate}} onclick="window.open('{{item.link}}')">
                                                    {%if item.cate == 'blog'%}
                                                    <span class="icon-channel"><img src="https://some.co.kr/renewal_resources/images/icon_sns_blog.svg" alt=""></span>
                                                    {%elif item.cate == 'news'%}
                                                    <span class="icon-channel"><img src="https://some.co.kr/renewal_resources/images/icon_sns_news.svg" alt=""></span>
                                                    {%elif item.cate == 'cafe'%}
                                                    <span class="icon-channel"><img src="https://ca-fe.pstatic.net/web-section/favicon.ico" alt=""></span>
                                                    {% endif %}
                                                    <dl class="mention-desc">
                                                        <dt class="mention-desc-title">{{item.title}}</dt>
                                                        <dd class="mention-desc-text">{{item.text}}</dd>
                                                    </dl>
                                                    
                                                </li>

                                                {% endfor %}
                                                
                                                
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="original-data" id = "2_neg_post" style='display:none;' id = 'blog'>
                                        <div class="hidden-scroll yscroll-overlay">
                                            <ul class="hidden-scroll-content yscroll-overlay-body original-data-list mention-original-list" id="originalDocsUl" data-id="original-data-list-compare-reputation" style="opacity: 1;">
                                                
                                                {% for item in keyword2_negative %}
                                                <li class="original-data-item" style="cursor:pointer;" id = {{item.cate}} onclick="window.open('{{item.link}}')">
                                                    {%if item.cate == 'blog'%}
                                                    <span class="icon-channel"><img src="https://some.co.kr/renewal_resources/images/icon_sns_blog.svg" alt=""></span>
                                                    {%elif item.cate == 'news'%}
                                                    <span class="icon-channel"><img src="https://some.co.kr/renewal_resources/images/icon_sns_news.svg" alt=""></span>
                                                    {%elif item.cate == 'cafe'%}
                                                    <span class="icon-channel"><img src="https://ca-fe.pstatic.net/web-section/favicon.ico" alt=""></span>
                                                    {% endif %}
                                                    <dl class="mention-desc">
                                                        <dt class="mention-desc-title">{{item.title}}</dt>
                                                        <dd class="mention-desc-text">{{item.text}}</dd>
                                                    </dl>
                                                    
                                                </li>

                                                
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div> 
                            </div>  
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-6 col-xl-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Word Charts donut</h5>
                                </div>
                                <div class="card-body">
                                    <svg id="my_dataviz" width="320" height="320"></svg>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5>1~3 점</h5>
                                </div>
                                <div class="card-body">
                                    <svg id="my_dataviz_2" width="320" height="320"></svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">

                            <div class="card">
                                <div class="card-body bg-patern-white">
                                    
                                    <div id="pie-chart-1"></div>

                                </div>
                            </div> 
                        </div>


                    </div>

                    <div class="row"> 
                        <div class="col-md-6 col-xl-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5>4~5 점</h5>
                                </div>
                                <div class="card-body">
                                    <svg id="my_dataviz_3" width="320" height="320"></svg>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5>1~3 점</h5>
                                </div>
                                <div class="card-body">
                                    <svg id="my_dataviz_4" width="320" height="320"></svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">

                            <div class="card">
                                <div class="card-body bg-patern-white">
    
                                    <div id="pie-chart-2"></div>
                                    
                                </div>
                            </div> 
                        </div>


                    </div>




                </div>

                <div class="col-md-12 col-xl-4">
                    <div class="row">    
                        <div class="col-sm-12">

                            <div class="card text-center">
                                <div class="card-body">
                                    <div class="row"> 
                                        <div class="col-xl-12"> 
                                            <div class="mycard">
                                                <h5>투표수</h5><br>

                                                <div id="chartdiv" style='height : 200px'></div>
                                                
                                            </div>
                                        </div>
                                    </div>
        
                                </div>
                            </div> 

                            <div class="card p-4">
                                    <canvas id="myChart"></canvas>
                            </div>

                            <div class="card">
                                <div class="card-body ps-0 pb-0">
                                    <div id="unique-visitor-chart"></div>
                                </div>
                            </div>
                
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript">

    var keyword1_pie = {{ keyword1_pie|safe }};
    var keyword2_pie = {{ keyword1_pie|safe }};

    var keyword1_wordcloud_13 = {{ keyword1_wordcloud_13_json|safe }};
    var keyword2_wordcloud_13 = {{ keyword2_wordcloud_13_json|safe }};
    var keyword1_wordcloud_45 = {{ keyword1_wordcloud_45_json|safe }};
    var keyword2_wordcloud_45 = {{ keyword2_wordcloud_45_json|safe }};

    var keyword1_serise = {{keyword1_serise|safe}}
    var keyword2_serise = {{keyword2_serise|safe}}
    var serise_xaxis = {{serise_xaxis|safe}}

    

    //var count_value={{count_value|safe}};
</script>
    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>

    <!-- custom-chart js -->
    
    <script src="/static/assets/js/pages/chart-apex.js"></script>
    <script src="/static/assets/js/pages/dashboard-main.js"></script>


{% endblock javascripts %}
