{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.js"></script>

    <script src="//cdn.amcharts.com/lib/4/core.js"></script>
    <script src="//cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="//cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="//cdn.amcharts.com/lib/4/plugins/forceDirected.js"></script>

    <script src="//cdn.jsdelivr.net/npm/chart.js"></script>



    <script>

        function changeClassName(s_num) {
            s_num = String(s_num)
            var cl1 = document.getElementById(s_num+'_pos').className;
            var cl2 = document.getElementById(s_num+'_neg').className;

            if (cl1.length > 0){
                document.getElementById(s_num+'_pos').className = '';
                document.getElementById(s_num+'_neg').className = 'on';

                document.getElementById(s_num+'_pos_post').style.display = 'none';
                document.getElementById(s_num+'_neg_post').style.display = 'block';

            }
            else{
                
                document.getElementById(s_num+'_neg').className = '';
                document.getElementById(s_num+'_pos').className = 'on';

                document.getElementById(s_num+'_neg_post').style.display = 'none';
                document.getElementById(s_num+'_pos_post').style.display = 'block';

            }

            return;
        }

        function category(cat) {

            var li = document.getElementsByClassName("original-data-item");
            const checkbox = document.getElementById('btn-check-' + cat);
            console.log(cat)

            if (!checkbox.checked){
                for (var i = 0; i < li.length; i++){
                    var element = li.item(i)
                    if (element.id == cat){
                        element.style.display = 'none';
                    }
                    

                }
            }
            else{
                for (var i = 0; i < li.length; i++){
                    var element = li.item(i)
                    if (element.id == cat){
                        element.style.display = 'flex';
                    }
                    
                }
            }



            return;
        }
   
        (function() {

            //am4core.useTheme(am4themes_animated);

            // Create chart
            var chart = am4core.create("chartdiv", am4plugins_forceDirected.ForceDirectedTree);
        
            // Create series
            var series = chart.series.push(new am4plugins_forceDirected.ForceDirectedSeries())
            chart.legend = new am4charts.Legend();
            // Set data
            series.data = [{
                "name": "갤럭시",
                "value": 190,
                "link": ["아이폰"],
                "fixed": true,
                "x": am4core.percent(35),
                "y": am4core.percent(50), 
              }, {
                "name": "아이폰",
                "value": 289
                ,"link": ["갤럭시"],
                "fixed": true,
                "x": am4core.percent(65),
                "y": am4core.percent(50), 
              }, ];

              series.colors.list = [
                am4core.color("#F42B03"),
                am4core.color("#D84A05"),
                am4core.color("#EC7505"),
                am4core.color("#E89005")
                ];
              


            series.links.template.strokeOpacity = 0;
            series.dataFields.fixed = "fixed";
            series.nodes.template.propertyFields.x = "x";
            series.nodes.template.propertyFields.y = "y";
            
            
            // Set up data fields
            series.dataFields.value = "value";
            series.dataFields.name = "name";

            series.dataFields.id = "name";
            series.dataFields.linkWith = "link";
            
            series.nodes.template.label.text = "{value}";
            series.fontSize = 20;
            series.minRadius = 15;
            series.maxRadius = 60;
            series.centerStrength = 0.5;
 
        })();

        document.addEventListener('DOMContentLoaded', () => {

            const ctx = document.getElementById('myChart').getContext('2d');

            const DATA_COUNT = 7;
            const NUMBER_CFG = {count: DATA_COUNT, min: -100, max: 100};

            const labels = ['갤럭시','아이폰'];
            const data = {
            labels: labels,
            datasets: [
                {
                label: '긍정',
                data: [8,2],
                borderColor: '#4dc9f6',            
                backgroundColor: '#4dc9f6',//Utils.transparentize('#4dc9f6', 0.5),
                pointStyle: 'circle',
                
                },
                {
                label: '부정',
                data: [-3,-7],
                borderColor: '#f67019',
                backgroundColor: '#f67019',//Utils.transparentize('#f67019',, 0.5),
                pointStyle: 'circle',
                
                
                }
            ]
            };

            const config = {
                type: 'bar',
                data: data,
                options: {
                  indexAxis: 'y',
                  // Elements options apply to all of the options unless overridden in a dataset
                  // In this case, we are setting the border of each horizontal bar to be 2px wide
                  elements: {
                    bar: {
                      borderWidth: 2,
                    }
                  },
                  responsive: true,
                  plugins: {
                    legend: {
                        labels: {
                            usePointStyle: true,
                            
                            },
                        position: 'top',
                        pointRadius: 5,
                    },
                    title: {
                      display: false,
                      //text: 'Chart.js Horizontal Bar Chart'
                    }
                  },
                  scales: {
                    x: {
                        display:true,
                        min:-10,
                        max:10,
                        grid: {
                            color: function(context) {
                                if (context.tick.value == 0) {
                                  return '#000000';
                                } else {
                                  return '#ffffff';
                                }
                    
                                return '#000000';
                              },
                            },

                      

                    },
                    y:{
                        display:true,
                        grid: {
                            color: '#ffffff',
                            },
                        
                    }
                  }
                },
            };

            var chart = new Chart(ctx, config);
        })();

        </script>
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ Main Content ] start -->

            <div class="row">
                <!-- users visite start -->

                <div class="col-md-12 col-xl-8">

                    <div class="card text-center">
                        <div class=" p-3 ">
                            <input type="checkbox" class="btn-check" id="btn-check-cafe" onclick='category("cafe")' autocomplete="on" checked>
                            <label class="btn btn-outline-primary" for="btn-check-cafe">카페</label>

                            <input type="checkbox" class="btn-check" id="btn-check-blog" onclick='category("blog")' autocomplete="on" checked>
                            <label class="btn btn-outline-primary" for="btn-check-blog">블로그</label>

                            <input type="checkbox" class="btn-check" id="btn-check-news" onclick='category("news")' autocomplete="on" checked>
                            <label class="btn btn-outline-primary" for="btn-check-news">뉴스</label>
                        </div>
                    
                    
                        <div class="row">
                            <div class="col-xl-6 pe-1">
                                <div class="mycard w-95 ms-auto">

                                    <h5>갤럭시</h5><br>
                                    
                                    <div class="justify-content-center">
                                    
                                        <ul class="tab-type5 tab comepare-origin-tabs w-75" id="originalDocsKeywordUl" style='display: table;margin-left: auto;margin-right: auto;'>
                                            <li class="on" id ='1_pos'>
                                                <a href="javascript:void(0)" class="" style="" onclick='changeClassName(1)'>
                                                    <em class="tab-name">긍정</em>
                                                </a>
                                            </li>
                                            <li class="" id ='1_neg'>
                                                <a href="javascript:void(0)" class="" style="" onclick='changeClassName(1)'>
                                                    <em class="tab-name">부정</em>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="original-data" id = "1_pos_post"> 
                                        <div class="hidden-scroll yscroll-overlay">
                                            <ul class="hidden-scroll-content yscroll-overlay-body original-data-list mention-original-list" id="originalDocsUl" data-id="original-data-list-compare-reputation" style="opacity: 1; ">
                                            <li class="original-data-item" style="cursor:pointer;" id = 'blog' onclick="window.open('https://blog.naver.com/aeyongly/222953745910')">
                                                <span class="icon-channel"><img src="https://some.co.kr/renewal_resources/images/icon_sns_blog.svg" alt=""></span>
                                                <dl class="mention-desc">
                                                    <dt class="mention-desc-title">NCT 127 플러스 콘서트 다녀왔습니다</dt>
                                                    <dd class="mention-desc-text">그래서 <mark>갤럭시</mark> 짱</dd>
                                                </dl>
                                                
                                            </li>
                                            <li class="original-data-item" style="cursor:pointer;" id = 'news' onclick="window.open('https://blog.naver.com/aeyongly/222953745910')">
                                                <span class="icon-channel"><img src="https://some.co.kr/renewal_resources/images/icon_sns_news.svg" alt=""></span>
                                                <dl class="mention-desc">
                                                    <dt class="mention-desc-title">NCT 127 플러스 콘서트 다녀왔습니다</dt>
                                                    <dd class="mention-desc-text">그래서 <mark>갤럭시</mark> 짱</dd>
                                                </dl>
                                                
                                            </li>
                                            <li class="original-data-item" style="cursor:pointer;" id = 'cafe' onclick="window.open('https://blog.naver.com/aeyongly/222953745910')">
                                                <span class="icon-channel"><img src="https://ca-fe.pstatic.net/web-section/favicon.ico" alt=""></span>
                                                <dl class="mention-desc">
                                                    <dt class="mention-desc-title">NCT 127 플러스 콘서트 다녀왔습니다</dt>
                                                    <dd class="mention-desc-text">그래서 <mark>갤럭시</mark> 짱</dd>
                                                </dl>
                                                
                                            </li>
                                            <li class="original-data-item" style="cursor:pointer;" id = 'blog' onclick="window.open('https://blog.naver.com/aeyongly/222953745910')">
                                                <span class="icon-channel"><img src="https://some.co.kr/renewal_resources/images/icon_sns_blog.svg" alt=""></span>
                                                <dl class="mention-desc">
                                                    <dt class="mention-desc-title">NCT 127 플러스 콘서트 다녀왔습니다</dt>
                                                    <dd class="mention-desc-text">그래서 <mark>갤럭시</mark> 짱</dd>
                                                </dl>
                                                
                                            </li>
                                            <li class="original-data-item" style="cursor:pointer;" id = 'blog' onclick="window.open('https://blog.naver.com/aeyongly/222953745910')">
                                                <span class="icon-channel"><img src="https://some.co.kr/renewal_resources/images/icon_sns_blog.svg" alt=""></span>
                                                <dl class="mention-desc">
                                                    <dt class="mention-desc-title">NCT 127 플러스 콘서트 다녀왔습니다</dt>
                                                    <dd class="mention-desc-text">그래서 <mark>갤럭시</mark> 짱</dd>
                                                </dl>
                                                
                                            </li>
                                            <li class="original-data-item" style="cursor:pointer;" id = 'blog' onclick="window.open('https://blog.naver.com/aeyongly/222953745910')">
                                                <span class="icon-channel"><img src="https://some.co.kr/renewal_resources/images/icon_sns_blog.svg" alt=""></span>
                                                <dl class="mention-desc">
                                                    <dt class="mention-desc-title">NCT 127 플러스 콘서트 다녀왔습니다</dt>
                                                    <dd class="mention-desc-text">그래서 <mark>갤럭시</mark> 짱</dd>
                                                </dl>
                                                
                                            </li>
                                        </div>
                                    </div>

                                    <div class="original-data" id = "1_neg_post" style='display:none;'>
                                        <div class="hidden-scroll yscroll-overlay">
                                            <ul class="hidden-scroll-content yscroll-overlay-body original-data-list mention-original-list" id="originalDocsUl" data-id="original-data-list-compare-reputation" style="opacity: 1;">
                                            <li class="original-data-item" style="cursor:pointer;" id = 'blog' onclick="window.open('https://blog.naver.com/aeyongly/222953745910')">
                                                <span class="icon-channel"><img src="https://some.co.kr/renewal_resources/images/icon_sns_blog.svg" alt=""></span>
                                                <dl class="mention-desc">
                                                    <dt class="mention-desc-title">NCT 127 플러스 콘서트 다녀왔습니다</dt>
                                                    <dd class="mention-desc-text">그래서 <mark>갤럭시</mark> 짱</dd>
                                                </dl>
                                                
                                            </li>
                                        </div>
                                    </div>
                                   
                                </div> 
                            </div>

                            <div class="col-xl-6 ps-1">
                                <div class="mycard w-95">

                                    <h5>아이폰</h5><br>

                                    <div class="align-items-center">
                                    
                                        <ul class="tab-type5 tab comepare-origin-tabs w-75" id="originalDocsKeywordUl" style='display: table;margin-left: auto;margin-right: auto;'>
                                            <li class="on " id ='2_pos'>
                                            <a href="javascript:void(0)" class="" style="" onclick='changeClassName(2)'>
                                                <em class="tab-name">긍정</em>
                                            </a>
                                        </li><li class=" " id ='2_neg'>
                                            <a href="javascript:void(0)" class="" style="" onclick='changeClassName(2)'>
                                                <em class="tab-name">부정</em>
                                            </a>
                                        </li></ul>
                                    </div>

                                    <div class="original-data" id = "2_pos_post">
                                        <div class="hidden-scroll yscroll-overlay">
                                            <ul class="hidden-scroll-content yscroll-overlay-body original-data-list mention-original-list" id="originalDocsUl" data-id="original-data-list-compare-reputation" style="opacity: 1;">
                                            <li class="original-data-item" style="cursor:pointer;" id = 'cafe'>
                                                <span class="icon-channel"><img src="https://ca-fe.pstatic.net/web-section/favicon.ico" alt=""></span>
                                                <dl class="mention-desc">
                                                    <dt class="mention-desc-title">[2022 마이 블로그 리포트] 올해 활동 데이터로 알아보는 2022 나의 블로그 리듬</dt>
                                                    <dd class="mention-desc-text"><mark>아이폰14</mark> 아니면 에어맥 밀키줘</dd>
                                                </dl>
                                                
                                            </li>
                                            <li class="original-data-item" style="cursor:pointer;" id = 'news'>
                                                <span class="icon-channel"><img src="https://some.co.kr/renewal_resources/images/icon_sns_news.svg" alt=""></span>
                                                <dl class="mention-desc">
                                                    <dt class="mention-desc-title">[2022 마이 블로그 리포트] 올해 활동 데이터로 알아보는 2022 나의 블로그 리듬</dt>
                                                    <dd class="mention-desc-text"><mark>아이폰14</mark> 아니면 에어맥 밀키줘</dd>
                                                </dl>
                                                
                                            </li>
                                            <li class="original-data-item" style="cursor:pointer;" id = 'blog'>
                                                <span class="icon-channel"><img src="https://some.co.kr/renewal_resources/images/icon_sns_blog.svg" alt=""></span>
                                                <dl class="mention-desc">
                                                    <dt class="mention-desc-title">[2022 마이 블로그 리포트] 올해 활동 데이터로 알아보는 2022 나의 블로그 리듬</dt>
                                                    <dd class="mention-desc-text"><mark>아이폰14</mark> 아니면 에어맥 밀키줘</dd>
                                                </dl>
                                                
                                            </li>
                                            <li class="original-data-item" style="cursor:pointer;" id = 'blog'>
                                                <span class="icon-channel"><img src="https://some.co.kr/renewal_resources/images/icon_sns_blog.svg" alt=""></span>
                                                <dl class="mention-desc">
                                                    <dt class="mention-desc-title">[2022 마이 블로그 리포트] 올해 활동 데이터로 알아보는 2022 나의 블로그 리듬</dt>
                                                    <dd class="mention-desc-text"><mark>아이폰14</mark> 아니면 에어맥 밀키줘</dd>
                                                </dl>
                                                
                                            </li>
                                            <li class="original-data-item" style="cursor:pointer;" id = 'blog'>
                                                <span class="icon-channel"><img src="https://some.co.kr/renewal_resources/images/icon_sns_blog.svg" alt=""></span>
                                                <dl class="mention-desc">
                                                    <dt class="mention-desc-title">[2022 마이 블로그 리포트] 올해 활동 데이터로 알아보는 2022 나의 블로그 리듬</dt>
                                                    <dd class="mention-desc-text"><mark>아이폰14</mark> 아니면 에어맥 밀키줘</dd>
                                                </dl>
                                                
                                            </li>
                                            <li class="original-data-item" style="cursor:pointer;" id = 'blog'>
                                                <span class="icon-channel"><img src="https://some.co.kr/renewal_resources/images/icon_sns_blog.svg" alt=""></span>
                                                <dl class="mention-desc">
                                                    <dt class="mention-desc-title">[2022 마이 블로그 리포트] 올해 활동 데이터로 알아보는 2022 나의 블로그 리듬</dt>
                                                    <dd class="mention-desc-text"><mark>아이폰14</mark> 아니면 에어맥 밀키줘</dd>
                                                </dl>
                                                
                                            </li>
                                        </div>
                                    </div>

                                    <div class="original-data" id = "2_neg_post" style='display:none;' id = 'blog'>
                                        <div class="hidden-scroll yscroll-overlay">
                                            <ul class="hidden-scroll-content yscroll-overlay-body original-data-list mention-original-list" id="originalDocsUl" data-id="original-data-list-compare-reputation" style="opacity: 1;">
                                            <li class="original-data-item" style="cursor:pointer;">
                                                <span class="icon-channel"><img src="https://some.co.kr/renewal_resources/images/icon_sns_blog.svg" alt=""></span>
                                                <dl class="mention-desc">
                                                    <dt class="mention-desc-title">[2022 마이 블로그 리포트] 올해 활동 데이터로 알아보는 2022 나의 블로그 리듬</dt>
                                                    <dd class="mention-desc-text"><mark>아이폰14</mark> 아니면 에어맥 밀키줘</dd>
                                                </dl>
                                                
                                            </li>
                                        </div>
                                    </div>
                                </div> 
                            </div>  
                        </div>
                    </div>

                    

                    
                    
                    <div class="row"> 
                        <div class="col-md-6 col-xl-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Word Charts donut</h5>
                                </div>
                                <div class="card-body">
                                    <svg id="my_dataviz" width="320" height="320"></svg>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5>1~3 점</h5>
                                </div>
                                <p class='card-text text-center'>
                                    워드 클라우드 들어갈 자리<br>
                                    <br>
                                    1~3점 워드클라우드 들어 갈 자리<br>
                                    <br>
                                    ㅋㅋㅋㅋ 솔직히 예쁘게 들어가면 멋있을듯<br>
                                    <br>
                                    왜 이걸 쓰는 순간 비가 오는중일까<br>
                                    <br>
                                    겨울인지 가을인지 애매한 어딘가에 있다<br>
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">

                            <div class="card">
                                <div class="card-body bg-patern-white">
                                    
                                    <div id="pie-chart-1"></div>

                                </div>
                            </div> 
                        </div>


                    </div>

                    <div class="row"> 
                        <div class="col-md-6 col-xl-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5>4~5 점</h5>
                                </div>
                                <p class='card-text text-center'>
                                    워드 클라우드 들어갈 자리<br>
                                    <br>
                                    4~5점 워드클라우드 들어 갈 자리<br>
                                    <br>
                                    ㅋㅋㅋㅋ 솔직히 예쁘게 들어가면 멋있을듯<br>
                                    <br>
                                    왜 이걸 쓰는 순간 비가 오는중일까<br>
                                    <br>
                                    겨울인지 가을인지 애매한 어딘가에 있다<br>
                                    <br>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5>1~3 점</h5>
                                </div>
                                <p class='card-text text-center'>
                                    워드 클라우드 들어갈 자리<br>
                                    <br>
                                    1~3점 워드클라우드 들어 갈 자리<br>
                                    <br>
                                    ㅋㅋㅋㅋ 솔직히 예쁘게 들어가면 멋있을듯<br>
                                    <br>
                                    왜 이걸 쓰는 순간 비가 오는중일까<br>
                                    <br>
                                    겨울인지 가을인지 애매한 어딘가에 있다<br>
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">

                            <div class="card">
                                <div class="card-body bg-patern-white">
    
                                    <div id="pie-chart-2"></div>
                                    
                                </div>
                            </div> 
                        </div>


                    </div>




                </div>

                <div class="col-md-12 col-xl-4">
                    <div class="row">    
                        <div class="col-sm-12">

                            <div class="card text-center">
                                <div class="card-body">
                                    <div class="row"> 
                                        <div class="col-xl-12"> 
                                            <div class="mycard">
                                                <h5>투표수</h5><br>

                                                <div id="chartdiv" style='height : 200px'></div>
                                                
                                            </div>
                                        </div>
                                    </div>
        
                                </div>
                            </div> 

                            <div class="card">
                                <canvas id="myChart"></canvas>
                            </div>

                            <div class="card">
                                <div class="card-body ps-0 pb-0">
                                    <div id="unique-visitor-chart"></div>
                                </div>
                            </div>
                
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript">
    var dict = {{ city_json|safe }};
    var wordcloud = {{ wordcloud_json|safe }};
</script>
<script src="/static/assets/js/plugins/apexcharts.min.js"></script>
<script src="/static/assets/js/pages/chart-apex.js"></script>
    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>

    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>


{% endblock javascripts %}
