/* 경기천년폰트 */
@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*=============================================
화면의 위에서부터 아래의 순서로 보면 되어요:)
책 읽는 순서(좌 → 우)
===============================================*/

/* 상단바 색상 */
.theme-top {
    background: linear-gradient(to right, var(--top-bar-start-color), var(--top-bar-end-color)) !important;
    color: rgba(255, 255, 255, 0.8);
}

/* 검색 키워드 색상 */
.theme-search-keyword {
    color: var(--top-search-input-text-color) !important;
}

.theme-search-keyword::placeholder {
    color: var(--top-search-keyword-color) !important;
}

/* 프로필 색상 */
.theme-top-profile {
    background: var(--top-bar-start-color) !important;
}

/* 토글 버튼 */
:checked+.theme-toggle-btn {
    background-color: var(--btn-toggle-color) !important;
}

/* 긍ㆍ부정 버튼 */
/* ▒▒▒긍정▒▒▒ */
li.on .theme-positive-btn {
    background-color: var(--btn-positive-color) !important;
    border: 1px solid var(--btn-positive-color) !important;
}

li.on .theme-positive-btn em.pos {
    color: var(--btn-text-color) !important;
}

li.on .theme-positive-btn:active {
    background-color: white !important;
    color: black !important;
    border: 1px solid var(--downgrade-positive-color);
}

li.on .theme-positive-btn:hover {
    background-color: var(--downgrade-positive-color) !important;
    border: 1px solid var(--downgrade-positive-color);
}

.tab-type5 li a#theme-1-pos-btn {
    background-color: transparent;
    border: 1px solid var(--downgrade-positive-color);
}

.tab-type5 li a#theme-2-pos-btn {
    background-color: transparent;
    border: 1px solid var(--downgrade-positive-color);
}

.tab-type5 li a#theme-1-pos-btn em.pos {
    color: var(--downgrade-positive-color);
}

.tab-type5 li a#theme-2-pos-btn em.pos {
    color: var(--downgrade-positive-color);
}

.tab-type5 li:hover a#theme-1-pos-btn {
    background-color: var(--downgrade-positive-color);
    border: 1px solid var(--downgrade-positive-color) !important;
}

.tab-type5 li:hover a#theme-2-pos-btn {
    background-color: var(--downgrade-positive-color);
    border: 1px solid var(--downgrade-positive-color) !important;
}

.tab-type5 li:hover a#theme-1-pos-btn em.pos {
    color: var(--btn-text-color);
}

.tab-type5 li:hover a#theme-2-pos-btn em.pos {
    color: var(--btn-text-color);
}


/* ▒▒▒부정▒▒▒ */
li.on .theme-negative-btn {
    background-color: var(--btn-negative-color) !important;
    border: 1px solid var(--btn-negative-color) !important;
}

li.on .theme-negative-btn em.neg {
    color: var(--btn-text-color) !important;
}

li.on .theme-negative-btn:active {
    background-color: white !important;
    color: black !important;
    border: 1px solid var(--downgrade-negative-color);
}

li.on .theme-negative-btn:hover {
    background-color: var(--downgrade-negative-color) !important;
    border: 1px solid var(--downgrade-negative-color);
}

.tab-type5 li a#theme-1-neg-btn {
    background-color: transparent;
    border: 1px solid var(--downgrade-negative-color);
}

.tab-type5 li a#theme-2-neg-btn {
    background-color: transparent;
    border: 1px solid var(--downgrade-negative-color);
}

.tab-type5 li a#theme-1-neg-btn em.neg {
    color: var(--downgrade-negative-color);
}

.tab-type5 li a#theme-2-neg-btn em.neg {
    color: var(--downgrade-negative-color);
}

.tab-type5 li:hover a#theme-1-neg-btn {
    background-color: var(--downgrade-negative-color);
    border: 1px solid var(--downgrade-negative-color) !important;
}

.tab-type5 li:hover a#theme-2-neg-btn {
    background-color: var(--downgrade-negative-color);
    border: 1px solid var(--downgrade-negative-color) !important;
}

.tab-type5 li:hover a#theme-1-neg-btn em.neg {
    color: var(--btn-text-color);
}

.tab-type5 li:hover a#theme-2-neg-btn em.neg {
    color: var(--btn-text-color);
}


/* 개인정보처리방침 */
.theme-indi-rule {
    color: var(--indi-text-color) !important;
}

/* 
=======
회원가입
======= 
*/

/* 배경 */
.theme-signup-bg {
    background: linear-gradient(45deg, var(--top-bar-start-color), var(--top-bar-end-color));
}

/**/
:root {
    --top-bar-start-color: #30c6ff;
    --top-bar-end-color: #c4eaf9;
    --top-search-keyword-color: darkblue;
    --top-search-input-text-color: #222222;

    --barchart-positive-color: #009EFF;
    --downgrade-positive-color: #99CCFF;
    --barchart-negative-color: #ff5370;
    --downgrade-negative-color: #FF9999;

    --btn-toggle-color: #00b774;
    --btn-positive-color: var(--barchart-positive-color);
    --btn-negative-color: var(--barchart-negative-color);
    
    --btn-text-color: white;
    --dis-text-color: #898898;
    --text-color: darkblue;
    --indi-text-color: #2099ff;

    --piechart-5-color: #0408fc;
    --piechart-4-color: #0162ff;
    --piechart-3-color: #009dff;
    --piechart-2-color: #01cad5;
    --piechart-1-color: #01d5ff;
}