{% load static %}
{% load i18n %}
{% load socialaccount %}
{% load account %}
<!-- [ Header ] start -->
<header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed header-green">

    <div class="m-header">
        <a class="mobile-menu " id="mobile-collapse" href="#"><span></span></a>
        <a href="{% url 'home:index' %}"><strong>Compare Dashboard</strong></a>
    </div>
    <div class="collapse navbar-collapse navbar-justify">
        <ul class="navbar-nav me-auto nav-order">
            <form action="#" method="get">
                <input type="text" placeholder="keyword1" name="keyword" class="input-keyword first-btn">
                <input type="text" placeholder="keyword2" name="keyword" class="input-keyword">
                <input type="submit" id="btn-search" src="/home/static/assets/images/btn-default.png" value="">
            </form>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li>
                <div class="dropdown drp-user">
                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                        <img src="/static/assets/images/user/purple.png" class="img-radius wid-40 hei-40"
                            alt="User-Profile-Image">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end profile-notification">
                        <div class="pro-head">
                            {% if request.user.is_authenticated %}
                            <img src="/static/assets/images/user/purple.png" class="img-radius"
                                alt="User-Profile-Image">
                            <span>
                                {{ request.user.last_name}}
                                {{request.user.first_name }}
                                <!-- todo, get user profile image / nickname -->
                                <!-- {{ request.user.id }} -->
                            </span>
                            {% else %}

                            {% endif %}
                        </div>
                        <form action="#" method="post">
                            <div class="container-sign">
                                <span class="label-sign">ID :</span> <input class="input-box" type="text" name="login_id"
                                    required maxlength="12" /><br>
                            </div>
                            <div class="container-sign">
                                <span class="label-sign">PW :</span> <input class="input-box" type="password" name="login_pw"
                                    required maxlength="">
                            </div>

                            <div class="login-container">
                                <input class="btn-nowrap txt-font-m" type="submit" value="login"> &nbsp;&nbsp;&nbsp; / &nbsp;&nbsp;&nbsp; <a
                                    href="#" class="txt-font-m">sign up</a>
                            </div>
                        </form>

                        <ul class="pro-flex-body">
                            {% if request.user.is_authenticated %}
                            <li>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">
                                    <i class="feather"></i>logout</a>
                            </li>
                            {% else %}
                            <li><a href="{% provider_login_url 'naver'%}"><img
                                        src="{% static 'assets/images/login_icon/icon_naver.png' %}" alt=""
                                        class="img-radius wid-40 hei-40"></a></li>
                            <li><a href="{% provider_login_url 'google'%}"><img
                                        src="{% static 'assets/images/login_icon/icon_google.png' %}" alt=""
                                        class="img-radius wid-40 hei-40"></a></li>
                            {% endif %}
                        </ul>

                        {% comment %} <ul class="pro-body">
                            <li>
                                <a href="/login/" class="dropdown-item"><i class="feather icon-lock"></i> Login</a>
                            </li>
                            <li>
                                <a href="{% url 'account_logout' %}" class="dropdown-item"><i
                                        class="feather icon-lock"></i>Logout</a>
                            </li>
                        </ul> {% endcomment %}
                    </div>
                </div>
            </li>
        </ul>
    </div>


</header>
<!-- [ Header ] end -->