{% load static %}
{% load i18n %}
{% load socialaccount %}
{% load account %}
<!-- [ Header ] start -->
<script>
    function Checkform() {

       if(!frm.keyword1.value || !frm.keyword2.value){
        alert("키워드를 모두 입력해주세요.");
        return false;
       }
        
    }
</script>
<header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed header-green">

    <div class="m-header">
        {% if keyword1 and keyword2%}
        <a class="mobile-menu " id="mobile-collapse" href="#"><span></span></a>
        {% endif %}
        <a href="{% url 'home:index' %}"><strong>Compare Dashboard</strong></a>
        
    </div>
    <div class="collapse navbar-collapse navbar-justify">
        <ul class="navbar-nav me-auto nav-order">
            <form name='frm' action="#" method="get" onSubmit="return Checkform()">
                <input type="text" placeholder="keyword1" name="keyword1" class="input-keyword first-btn" value="{{keyword1}}">
                <input type="text" placeholder="keyword2" name="keyword2" class="input-keyword" value="{{keyword2}}">
                <input type="submit" id="btn-search" src="/home/static/assets/images/btn-default.png" value="">
            </form>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li>
                <div class="dropdown drp-user">
                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                        {% if request.user.is_authenticated %}
                            {% if profile_img %}
                            <img src="media/{{profile_img}}" class="img-radius profile-size" alt="User-Profile-Image">
                            {% else %}
                                <img src="/static/assets/images/user/purple.png" class="img-radius wid-40 hei-40"
                                alt="User-Profile-Image">
                            {% endif %}
                        {% else %}
                        <img src="/static/assets/images/user/purple.png" class="img-radius wid-40 hei-40"
                            alt="User-Profile-Image">
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-end profile-notification">
                        <div class="pro-head">
                            {% if request.user.is_authenticated %}
                            {% if profile_img %}
                                <img src="media/{{profile_img}}" class="img-radius profile-size" alt="User-Profile-Image">
                            {% else %}
                                <img src="/static/assets/images/user/purple.png" class="img-radius wid-40 hei-40"
                                alt="User-Profile-Image">
                            {% endif %}
                            <span>
                                {% if request.user %}
                                    {{request.user.last_name}}
                                    {{request.user.first_name }}
                                {% else %}
                                    {{profile_id}}
                                {% endif %}
                                <!-- todo, get user profile image / nickname -->
                                <!-- {{ request.user.id }} -->
                            </span>
                            {% else %}
                            
                            {% endif %}
                        </div>
                        {% if not request.user.is_authenticated %}
                        <form action="{% url 'home:login' %}" method="post">
                            {% csrf_token %}
                            <div class="container-sign">
                                <span class="label-sign">ID :</span> <input class="input-box" type="text"
                                    name="login_id" required maxlength="12" /><br>
                            </div>
                            <div class="container-sign">
                                <span class="label-sign">PW :</span> <input class="input-box" type="password"
                                    name="login_pw" required maxlength="">

                            </div>

                            <div class="login-container">
                                <input class="btn-nowrap txt-font-m" type="submit" value="login"> &nbsp;&nbsp;&nbsp; /
                                &nbsp;&nbsp;&nbsp; <a href="{% url 'home:register' %}" class="txt-font-m">sign up</a>
                            </div>
                        </form>
                        {% endif %}

                        <div class="login-container login-api">
                            {% if request.user.is_authenticated %}

                            <a href="{% url 'account_logout' %}" class="txt-font-m">
                                logout</a>

                            {% else %}
                            <a href="{% provider_login_url 'naver'%}" class="login-api-btn margin-right-10">
                                <img src="{% static 'assets/images/login_icon/icon_naver.png' %}" alt=""
                                class="wid-45 hei-45 login-api-icon">
                            </a>

                            <a href="{% provider_login_url 'google'%}" class="login-api-btn">
                                <img src="{% static 'assets/images/login_icon/icon_google.png' %}" alt=""
                                class="wid-25 hei-25 login-api-icon">
                            </a>
                            {% endif %}
                        </div>

                        {% comment %} <ul class="pro-body">
                            <li>
                                <a href="/login/" class="dropdown-item"><i class="feather icon-lock"></i> Login</a>
                            </li>
                            <li>
                                <a href="{% url 'account_logout' %}" class="dropdown-item"><i
                                        class="feather icon-lock"></i>Logout</a>
                            </li>
                        </ul> {% endcomment %}
                    </div>
                </div>
            </li>
        </ul>
    </div>


</header>
<!-- [ Header ] end -->