{% load static %}
{% load i18n %}
{% load socialaccount %}
{% load account %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <section class="login-form">
        <!--Login Title-->
        <h1>Login</h1>

        <!--Don't Remove login form tag / maybe use (2022.12.16.)-->
        <form action="" style="display:none;">
            <div class="int-area">
                <input type="text" name="id" id="id" autocomplete="off" required>
                <label for="id">USER NAME</label>
            </div>
            <div class="int-area">
                <input type="password" name="pw" id="pw" autocomplete="off" required>
                <label for="pw">PASSWORD</label>
            </div>
            <div class="btn-area">
                <button id="btn" type="submit">LOGIN</button>
            </div>
            <div class="caption">
                <a href="">Forgot Password?</a>
        		<p class="mb-2">Naver Login <a href="{% provider_login_url 'naver'%}" class="f-w-400">Sign in</a></p>
				<p class="mb-2">Google Login <a href="{% provider_login_url 'google'%}" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i>Sign in</a></p>
            </div>
        </form>
        
        <!--Naver Login API-->
        <div name="naver" class="img-btn-container margin-bottom" onmouseenter="Ex_img()">
            <a href="{% provider_login_url 'naver'%}" class="f-w-400">
                <img  src="{% static 'images/naver_default.png' %}" alt="">
            </a>
        </div>

        <!--Google Login API-->
        <div class="img-btn-container" onmouse>
            <a href="{% provider_login_url 'google'%}" class="link" class="f-w-400">
                <img name="naver1" src="{% static 'images/google_default.png' %}" alt="">
            </a>
        </div>
    </section>

    <script type="text/javascript">
        function Ex_img() {
            document.getElementsByName("naver1").src="../images/naver_focus.png";
            (`.img-btn-container img`).attr({ src: "{% static 'images/google_default.png' %}" });
        }
        /*
        let id = $('#id');
        let pw = $('#pw');
        let btn = $('#btn');

        $(btn).on('click', function() {
            if ($(id).val() == "") {
                $(id).next('label').addClass('warning');
                setTimeout(function() {
                    $('label').removeClass('warning');
                }, 1500);
            } else if ($(pw).val() == "") {
                $(pw).next('label').addClass('warning');
            }
        })*/
    </script>
</body>
</html>