<!DOCTYPE html>
<html lang="en">
<head>

    <title>
        모두의 비교
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Codedthemes, AppSeed" />

    <!-- Favicon icon -->
    <link rel="icon" href="/static/assets/images/mb-icon.png" type="image/x-icon">

    <!-- vendor css -->
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="/static/assets/css/style_somtrend.css">
    <link rel="stylesheet" href="/static/assets/css/search.css">
    <link rel="stylesheet" href="/static/assets/css/login.css">
    <link rel="stylesheet" href="/static/assets/css/custom_somtrend.css">

    <!-- Specific Page CSS goes HERE  -->
    <link rel="stylesheet" type="text/css" href="/static/assets/css/icons.css"/>
    

    {% block stylesheets %}{% endblock stylesheets %}


    <link rel="stylesheet" type="text/css" href="/static/assets/css/theme.css">
</head>
<body class="">



	{% include 'includes/progressbar.html' %}
    
    {% include 'includes/sidebar.html' %} 

    {% include 'includes/navigation.html' %}

    {% block content %}{% endblock content %}

    {% include 'includes/scripts.html' %} 
    

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}
    
</body>
</html>

